$absoluteColors: (
    'white': #fff,
    'black': #000,
);
$purpleShades: (
    'purple60': #703BF7,
    'purple65': #8254F8,
    'purple70': #946CF9,
    'purple75': #A685FA,
    'purple90': #DBCEFD,
    'purple95': #EDE7FE,
    'purple97': #F4F0FE,
    'purple99': #FBFAFF,
);
$whiteShades: (
    'white90': #E4E4E7,
    'white95': #F1F1F3,
    'white97': #F7F7F8,
    'white99': #FCFCFD,
);
$greyShades: (
    'grey08': #141414,
    'grey10': #1A1A1A,
    'grey15': #262626,
    'grey20': #333333,
    'grey30': #4D4D4D,
    'grey40': #666666,
    'grey50': #808080,
    'grey60': #999999,
);

@function getColor($key) {
    @return map-get($absoluteColors, $key), map-get($purpleShades, $key), map-get($whiteShades, $key), map-get($greyShades, $key);
}