<section class="cta__section">
  <div class="container">
    <div class="cta">
      <div class="cta__wrap">
        <h2 class="cta__title">Start Your Real Estate Journey Today</h2>
        <p class="cta__text">
          Your dream property is just a click away. Whether you're looking for a
          new home, a strategic investment, or expert real estate advice,
          Estatein is here to assist you every step of the way. Take the first
          step towards your real estate goals and explore our available
          properties or get in touch with our team for personalized assistance.
        </p>
      </div>
      <button class="cta__btn">Explore Properties</button>
    </div>
  </div>
</section>
