<footer class="footer__section">
  <div class="container">
    <div class="footer">
      <div class="footer__sub-form-wrap">
        <a href="../index.html" class="footer__logo">
          <svg class="footer__logo-icon">
            <use href="./img/home-defs.svg#icon-logo"></use>
          </svg>
        </a>
        <form class="footer__form">
          <label class="footer__label">
            <svg class="footer__email-icon">
              <use href="./img/home-defs.svg#icon-email"></use>
            </svg>
            <input type="email" placeholder="Enter Your Email" />
            <button class="footer__btn">
              <svg class="footer__send-icon">
                <use href="./img/home-defs.svg#icon-send"></use>
              </svg>
            </button>
          </label>
        </form>
      </div>
      <ul class="footer__list">
        <li class="footer__item">
          <h2 class="footer__title">Home</h2>
          <ul class="footer__sublist">
            <li class="footer__subitem">
              <a href="#" class="footer__link">Hero Section</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Features</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Properties</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Testimonials</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">FAQ’s</a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <h2 class="footer__title">About Us</h2>
          <ul class="footer__sublist">
            <li class="footer__subitem">
              <a href="#" class="footer__link">Our Story</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Our Works</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">How It Works</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Our Team</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Our Clients</a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <h2 class="footer__title">Properties</h2>
          <ul class="footer__sublist">
            <li class="footer__subitem">
              <a href="#" class="footer__link">Portfolio</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Categories</a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <h2 class="footer__title">Services</h2>
          <ul class="footer__sublist">
            <li class="footer__subitem">
              <a href="#" class="footer__link">Valuation Mastery</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Strategic Marketing</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Negotiation Wizardry</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Closing Success</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Property Management</a>
            </li>
          </ul>
        </li>
        <li class="footer__item">
          <h2 class="footer__title">Contact Us</h2>
          <ul class="footer__sublist">
            <li class="footer__subitem">
              <a href="#" class="footer__link">Contact Form</a>
            </li>
            <li class="footer__subitem">
              <a href="#" class="footer__link">Our Offices</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-rights">
    <div class="container">
        <div class="footer-rights__wrap">
            <ul class="footer-rights__list">
                <li class="footer-rights__item">
                    <a href="#" class="footer-rights__social-link">
                        <svg class="footer-rights__icon">
                            <use href="./img/home-defs.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-rights__item">
                    <a href="#" class="footer-rights__social-link">
                        <svg class="footer-rights__icon">
                            <use href="./img/home-defs.svg#icon-linkedIn"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-rights__item">
                    <a href="#" class="footer-rights__social-link">
                        <svg class="footer-rights__icon">
                            <use href="./img/home-defs.svg#icon-twitter"></use>
                        </svg>
                    </a>
                </li>
                <li class="footer-rights__item">
                    <a href="#" class="footer-rights__social-link">
                        <svg class="footer-rights__icon">
                            <use href="./img/home-defs.svg#icon-youtube"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <p class="footer-rights__text">@2023 Estatein. All Rights Reserved.</p>
            <a href="https://en.wikipedia.org/wiki/Terms_of_service" class="footer-rights__link">
                Terms & Conditions
            </a>
        </div>
    </div>
  </div>
</footer>
