<header class="header">
  <div class="container">
    <div class="header__wrap">
      <a href="../index.html" class="header__logo">
        <svg class="header__logo-icon">
          <use href="./img/home-defs.svg#icon-logo"></use>
        </svg>
      </a>
      <button
        class="menu-toggle js-open-menu"
        aria-expanded="false"
        aria-controls="mobile-menu"
        width="28"
        height="28"
      >
        <svg class="menu__burger-icon" width="28" height="28">
          <use href="./img/home-defs.svg#icon-menu"></use>
        </svg>
      </button>
      <nav class="header__nav">
        <ul class="header__list">
          <li class="header__item">
            <a href="#" class="header__link header__link--active">Home</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">About Us</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Properties</a>
          </li>
          <li class="header__item">
            <a href="#" class="header__link">Services</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="header__btn">Contact Us</a>
    </div>
  </div>
</header>
<div class="menu-container js-menu-container" id="mobile-menu">
  <div class="menu__wrap">
    <a href="../index.html" class="menu__logo">
      <svg class="menu__logo-icon">
        <use href="./img/home-defs.svg#icon-logo"></use>
      </svg>
    </a>
    <button class="menu-toggle js-close-menu">
      <svg class="menu__icon-close" width="40" height="40">
        <use href="./img/home-defs.svg#icon-close"></use>
      </svg>
    </button>
  </div>
  <div class="menu__nav">
    <ul class="menu__list">
      <li class="menu__item">
        <a href="#" class="menu__link">Home</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">About Us</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Properties</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link">Services</a>
      </li>
      <li class="menu__item">
        <a href="#" class="menu__link menu__btn">Contact Us</a>
      </li>
    </ul>
  </div>
  <!-- <a href="#" class="menu__btn" aria-label="button menu">Contact Us</a> -->
</div>
