<section class="hero">
  <div class="container">
    <div class="hero__main-wrap">
      <div class="hero__img"></div>
      <div class="hero__wrap">
        <h1 class="hero__title">Discover Your Dream Property with Estatein</h1>
        <p class="hero__text">
          Your journey to finding the perfect property begins here. Explore our
          listings to find the home that matches your dreams.
        </p>
        <ul class="hero__btn-list">
          <li class="hero__btn-item">
            <button class="hero__btn">Learn More</button>
          </li>
          <li class="hero__btn-item">
            <button class="hero__btn">Browse Properties</button>
          </li>
        </ul>
        <ul class="hero__list">
          <li class="hero__item">
            <h2 class="hero__subtitle">200+</h2>
            <p class="hero__subtext">Happy Customers</p>
          </li>
          <li class="hero__item">
            <h2 class="hero__subtitle">10k+</h2>
            <p class="hero__subtext">Properties For Clients</p>
          </li>
          <li class="hero__item">
            <h2 class="hero__subtitle">16+</h2>
            <p class="hero__subtext">Years of Experience</p>
          </li>
        </ul>
      </div>
      <div class="hero__circle">
        <a href="#" class="hero__link">
          <div class="hero__circle-bg">
            <svg class="hero__text-icon">
              <use href="./img/home/hero/symbol-defs.svg#icon-text"></use>
            </svg>
            <div class="hero__icon-wrap">
              <svg class="hero__icon-arrow">
                <use href="./img/home-defs.svg#icon-arrow"></use>
              </svg>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</section>
