<section class="properties__section">
  <div class="container">
    <div class="properties">
      <svg class="properties__stars-icon">
        <use href="./img/home-defs.svg#icon-abstract-stars"></use>
      </svg>
      <div class="properties__text-wrap">
        <h2 class="properties__title">Featured Properties</h2>
        <p class="properties__text">
          Explore our handpicked selection of featured properties. Each listing
          offers a glimpse into exceptional homes and investments available
          through Estatein. Click "View Details" for more information.
        </p>
      </div>
      <ul class="properties-card__list">
        <li class="properties-card__item">
            <picture>
                <source srcset="./img/home/properties/villa-tablet_mobile@1x.png 1x,
                ./img/home/properties/villa-tablet_mobile@2x.png 2x," media="(min-width: 390px)" type="image/png">
                <source srcset="./img/home/properties/villa-tablet_mobile@1x.webp 1x,
                ./img/home/properties/villa-tablet_mobile@2x.webp 2x," media="(min-width: 390px)" type="image/webp">
                <source srcset="./img/home/properties/villa-laptop@1x.png 1x,
                ./img/home/properties/villa-laptop@2x.png 2x," media="(min-width: 1440px)" type="image/png">
                <source srcset="./img/home/properties/villa-laptop@1x.webp 1x,
                ./img/home/properties/villa-laptop@2x.webp 2x," media="(min-width: 1440px)" type="image/webp">
                <source srcset="./img/home/properties/villa-desktop@1x.png 1x,
                ./img/home/properties/villa-desktop@2x.png 2x," media="(min-width: 1920px)" type="image/png">
                <source srcset="./img/home/properties/villa-desktop@1x.webp 1x,
                ./img/home/properties/villa-desktop@2x.webp 2x," media="(min-width: 1920px)" type="image/webp">
                <img src="./img/home/properties/villa-desktop@1x.png" alt="houses' photo">
            </picture>
            <h2 class="properties-card__title">Seaside Serenity Villa</h2>
            <p class="properties-card__description">
                A stunning 4-bedroom, 3-bathroom villa in a peaceful suburban neighborhood...
                <button class="properties-card__btn">Read More</button>
            </p>
            <ul class="properties-card__sublist">
                <li class="properties-card__subitem">
                    <svg class="properties-card__icon">
                        <use href="./img/home-defs.svg#icon-bed"></use>
                    </svg>
                    <h3 class="properties-card__amenities">4-Bedroom</h3>
                </li>
                <li class="properties-card__subitem">
                    <svg class="properties-card__icon">
                        <use href="./img/home-defs.svg#icon-bath"></use>
                    </svg>
                    <h3 class="properties-card__amenities">3-Bathroom</h3>
                </li>
                <li class="properties-card__subitem">
                    <svg class="properties-card__icon">
                        <use href="./img/home-defs.svg#icon-villa"></use>
                    </svg>
                    <h3 class="properties-card__amenities">Villa</h3>
                </li>
            </ul>
            <div class="properties-card__wrap">
                <div class="properties-card__text-wrap">
                    <h3 class="properties-card__caption">Price</h3>
                    <p class="properties-card__price">$550,000</p>
                </div>
                <button class="properties-card__price-btn">View Property Details</button>
            </div>
        </li>
        <li class="properties-card__item">
            <picture>
                <source srcset="./img/home/properties/metropolitan-tablet_mobile@1x.png 1x,
                ./img/home/properties/metropolitan-tablet_mobile@2x.png 2x," media="(min-width: 390px)" type="image/png">
                <source srcset="./img/home/properties/metropolitan-tablet_mobile@1x.webp 1x,
                ./img/home/properties/metropolitan-tablet_mobile@2x.webp 2x," media="(min-width: 390px)" type="image/webp">
                <source srcset="./img/home/properties/metropolitan-laptop@1x.png 1x,
                ./img/home/properties/metropolitan-laptop@2x.png 2x," media="(min-width: 1440px)" type="image/png">
                <source srcset="./img/home/properties/metropolitan-laptop@1x.webp 1x,
                ./img/home/properties/metropolitan-laptop@2x.webp 2x," media="(min-width: 1440px)" type="image/webp">
                <source srcset="./img/home/properties/metropolitan-desktop@1x.png 1x,
                ./img/home/properties/metropolitan-desktop@2x.png 2x," media="(min-width: 1920px)" type="image/png">
                <source srcset="./img/home/properties/metropolitan-desktop@1x.webp 1x,
                ./img/home/properties/metropolitan-desktop@2x.webp 2x," media="(min-width: 1920px)" type="image/webp">
                <img src="./img/home/properties/villa-desktop@1x.png" alt="houses' photo">
            </picture>
            <h2 class="properties-card__title">Metropolitan Haven</h2>
            <p class="properties-card__description">
                A chic and fully-furnished 2-bedroom apartment with panoramic city views... 
                <button class="properties-card__btn">Read More</button>
            </p>
            <ul class="properties-card__sublist">
                <li class="properties-card__subitem">
                    <svg class="properties-card__icon">
                        <use href="./img/home-defs.svg#icon-bed"></use>
                    </svg>
                    <h3 class="properties-card__amenities">2-Bedroom</h3>
                </li>
                <li class="properties-card__subitem">
                    <svg class="properties-card__icon">
                        <use href="./img/home-defs.svg#icon-bath"></use>
                    </svg>
                    <h3 class="properties-card__amenities">2-Bathroom</h3>
                </li>
                <li class="properties-card__subitem">
                    <svg class="properties-card__icon">
                        <use href="./img/home-defs.svg#icon-villa"></use>
                    </svg>
                    <h3 class="properties-card__amenities">Villa</h3>
                </li>
            </ul>
            <div class="properties-card__wrap">
                <div class="properties-card__text-wrap">
                    <h3 class="properties-card__caption">Price</h3>
                    <p class="properties-card__price">$550,000</p>
                </div>
                <button class="properties-card__price-btn">View Property Details</button>
            </div>
        </li>
        <li class="properties-card__item">
            <picture>
                <source srcset="./img/home/properties/cottage-tablet_mobile@1x.png 1x,
                ./img/home/properties/cottage-tablet_mobile@2x.png 2x," media="(min-width: 390px)" type="image/png">
                <source srcset="./img/home/properties/cottage-tablet_mobile@1x.webp 1x,
                ./img/home/properties/cottage-tablet_mobile@2x.webp 2x," media="(min-width: 390px)" type="image/webp">
                <source srcset="./img/home/properties/cottage-laptop@1x.png 1x,
                ./img/home/properties/cottage-laptop@2x.png 2x," media="(min-width: 1440px)" type="image/png">
                <source srcset="./img/home/properties/cottage-laptop@1x.webp 1x,
                ./img/home/properties/cottage-laptop@2x.webp 2x," media="(min-width: 1440px)" type="image/webp">
                <source srcset="./img/home/properties/cottage-desktop@1x.png 1x,
                ./img/home/properties/cottage-desktop@2x.png 2x," media="(min-width: 1920px)" type="image/png">
                <source srcset="./img/home/properties/cottage-desktop@1x.webp 1x,
                ./img/home/properties/cottage-desktop@2x.webp 2x," media="(min-width: 1920px)" type="image/webp">
                <img src="./img/home/properties/villa-desktop@1x.png" alt="houses' photo">
            </picture>
            <h2 class="properties-card__title">Rustic Retreat Cottage</h2>
            <p class="properties-card__description">
                An elegant 3-bedroom, 2.5-bathroom townhouse in a gated community...
                <button class="properties-card__btn">Read More</button>
            </p>
            <ul class="properties-card__sublist">
                <li class="properties-card__subitem">
                    <svg class="properties-card__icon">
                        <use href="./img/home-defs.svg#icon-bed"></use>
                    </svg>
                    <h3 class="properties-card__amenities">3-Bedroom</h3>
                </li>
                <li class="properties-card__subitem">
                    <svg class="properties-card__icon">
                        <use href="./img/home-defs.svg#icon-bath"></use>
                    </svg>
                    <h3 class="properties-card__amenities">3-Bathroom</h3>
                </li>
                <li class="properties-card__subitem">
                    <svg class="properties-card__icon">
                        <use href="./img/home-defs.svg#icon-villa"></use>
                    </svg>
                    <h3 class="properties-card__amenities">Villa</h3>
                </li>
            </ul>
            <div class="properties-card__wrap">
                <div class="properties-card__text-wrap">
                    <h3 class="properties-card__caption">Price</h3>
                    <p class="properties-card__price">$550,000</p>
                </div>
                <button class="properties-card__price-btn">View Property Details</button>
            </div>
        </li>
      </ul>
      <button class="properties__btn">View All Properties</button>
      <div class="properties-slider__wrap">
        <p class="properties-slider__text">01 of 60</p>
        <button class="properties-slider__btn--disactive">
            <svg class="properties-slider__icon">
                <use href="./img/home-defs.svg#icon-arrow-move"></use>
            </svg>
        </button>
        <button class="properties-slider__btn--active">
            <svg class="properties-slider__icon">
                <use href="./img/home-defs.svg#icon-arrow-move"></use>
            </svg>
        </button>
      </div>
    </div>
  </div>
</section>
