<section class="questions__section">
  <div class="container">
    <div class="questions">
      <svg class="questions__stars-icon">
        <use href="./img/home-defs.svg#icon-abstract-stars"></use>
      </svg>
      <div class="questions__text-wrap">
        <h2 class="questions__title">Frequently Asked Questions</h2>
        <p class="questions__text">
          Find answers to common questions about Estatein's services, property
          listings, and the real estate process. We're here to provide clarity
          and assist you every step of the way.
        </p>
      </div>
      <ul class="questions-card__list">
        <li class="questions-card__item">
          <h2 class="questions-card__title">
            How do I search for properties on Estatein?
          </h2>
          <p class="questions-card__text">
            Learn how to use our user-friendly search tools to find properties
            that match your criteria.
          </p>
          <button class="questions-card__btn">Read More</button>
        </li>
        <li class="questions-card__item">
          <h2 class="questions-card__title">
            What documents do I need to sell my property through Estatein?
          </h2>
          <p class="questions-card__text">
            Find out about the necessary documentation for listing your property
            with us.
          </p>
          <button class="questions-card__btn">Read More</button>
        </li>
        <li class="questions-card__item">
          <h2 class="questions-card__title">
            How can I contact an Estatein agent?
          </h2>
          <p class="questions-card__text">
            Discover the different ways you can get in touch with our
            experienced agents.
          </p>
          <button class="questions-card__btn">Read More</button>
        </li>
      </ul>
      <button class="questions__btn">View All FAQ’s</button>
      <div class="questions-slider__wrap">
        <p class="questions-slider__text">01 of 10</p>
        <button class="questions-slider__btn--disactive">
          <svg class="questions-slider__icon">
            <use href="./img/home-defs.svg#icon-arrow-move"></use>
          </svg>
        </button>
        <button class="questions-slider__btn--active">
          <svg class="questions-slider__icon">
            <use href="./img/home-defs.svg#icon-arrow-move"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
