<section class="reviews__section">
  <div class="container">
    <div class="reviews">
      <svg class="reviews__stars-icon">
        <use href="./img/home-defs.svg#icon-abstract-stars"></use>
      </svg>
      <div class="reviews__text-wrap">
        <h2 class="reviews__title">What Our Clients Say</h2>
        <p class="reviews__text">
          Read the success stories and heartfelt testimonials from our valued
          clients. Discover why they chose Estatein for their real estate needs.
        </p>
      </div>
      <ul class="reviews-card__list">
        <li class="reviews-card__item">
          <ul class="reviews-card__stars-list">
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <h2 class="reviews-card__title">Exceptional Service!</h2>
          <p class="reviews-card__text">
            Our experience with Estatein was outstanding. Their team's
            dedication and professionalism made finding our dream home a breeze.
            Highly recommended!
          </p>
          <div class="reviews-card__wrap">
            <picture>
              <source
                srcset="
                  ./img/home/reviews/reviews-01@1x.png 1x,
                  ./img/home/reviews/reviews-01@2x.png 2x
                "
                type="image/png"
              />
              <source
                srcset="
                  ./img/home/reviews/reviews-01@1x.webp 1x,
                  ./img/home/reviews/reviews-01@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-card__img"
                src="./img/home/reviews/reviews-01@1x.png"
                alt="reviews"
              />
            </picture>
            <div class="reviews-card__text-wrap">
              <h3 class="reviews-card__name">Wade Warren</h3>
              <p class="reviews-card__country">USA, California</p>
            </div>
          </div>
        </li>
        <li class="reviews-card__item">
          <ul class="reviews-card__stars-list">
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <h2 class="reviews-card__title">Efficient and Reliable</h2>
          <p class="reviews-card__text">
            Estatein provided us with top-notch service. They helped us sell our
            property quickly and at a great price. We couldn't be happier with
            the results.
          </p>
          <div class="reviews-card__wrap">
            <div class="reviews-card__text-wrap">
              <picture>
                <source
                  srcset="
                    ./img/home/reviews/reviews-02@1x.png 1x,
                    ./img/home/reviews/reviews-02@2x.png 2x
                  "
                  type="image/png"
                />
                <source
                  srcset="
                    ./img/home/reviews/reviews-02@1x.webp 1x,
                    ./img/home/reviews/reviews-02@2x.webp 2x
                  "
                  type="image/webp"
                />
                <img
                  class="reviews-card__img"
                  src="./img/home/reviews/reviews-02@1x.png"
                  alt="reviews"
                />
              </picture>
              <h3 class="reviews-card__name">Emelie Thomson</h3>
              <p class="reviews-card__country">USA, Florida</p>
            </div>
          </div>
        </li>
        <li class="reviews-card__item">
          <ul class="reviews-card__stars-list">
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
            <li class="reviews-card__stars-item">
              <svg class="reviews-card__star">
                <use href="./img/home=defs.svg#icon-star"></use>
              </svg>
            </li>
          </ul>
          <h2 class="reviews-card__title">Trusted Advisors</h2>
          <p class="reviews-card__text">
            The Estatein team guided us through the entire buying process. Their
            knowledge and commitment to our needs were impressive. Thank you for
            your support!
          </p>
          <div class="reviews-card__wrap">
            <picture>
              <source
                srcset="
                  ./img/home/reviews/reviews-03@1x.png 1x,
                  ./img/home/reviews/reviews-03@2x.png 2x
                "
                type="image/png"
              />
              <source
                srcset="
                  ./img/home/reviews/reviews-03@1x.webp 1x,
                  ./img/home/reviews/reviews-03@2x.webp 2x
                "
                type="image/webp"
              />
              <img
                class="reviews-card__img"
                src="./img/home/reviews/reviews-03@1x.png"
                alt="reviews"
              />
            </picture>
            <div class="reviews-card__text-wrap">
              <h3 class="reviews-card__name">John Mans</h3>
              <p class="reviews-card__country">USA, Nevada</p>
            </div>
          </div>
        </li>
      </ul>
      <button class="reviews__btn">View All Testimonials</button>
      <div class="reviews-slider__wrap">
        <p class="reviews-slider__text">01 of 10</p>
        <button class="reviews-slider__btn--disactive">
            <svg class="reviews-slider__icon">
                <use href="./img/home-defs.svg#icon-arrow-move"></use>
            </svg>
        </button>
        <button class="reviews-slider__btn--active">
            <svg class="reviews-slider__icon">
                <use href="./img/home-defs.svg#icon-arrow-move"></use>
            </svg>
        </button>
      </div>
    </div>
  </div>
</section>
