<section class="services">
  <div class="subcontainer">
    <ul class="services__list">
      <li class="services__item">
        <a href="#" class="services__link">
          <svg class="services__icon-arrow">
            <use href="./img/home-defs.svg#icon-arrow"></use>
          </svg>
          <div class="services__icon-wrap">
            <svg class="services__icon-circle"
              id="icon-circle"
              width="82"
              height="82"
              viewBox="0 0 82 82"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="41"
                cy="41"
                r="40.5"
                stroke="url(#paint0_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="40.5"
                stroke="url(#paint1_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="30.5"
                stroke="url(#paint2_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="30.5"
                stroke="url(#paint3_linear_320_3)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_320_3"
                  x1="6.75"
                  y1="86.5"
                  x2="85.75"
                  y2="-5.5"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.323723"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint1_linear_320_3"
                  x1="81.75"
                  y1="-10.5"
                  x2="6.75"
                  y2="82"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.576615"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint2_linear_320_3"
                  x1="3.25"
                  y1="13.5"
                  x2="71.75"
                  y2="72"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.323723"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint3_linear_320_3"
                  x1="84.25"
                  y1="86"
                  x2="12.25"
                  y2="35"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.576615"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
              </defs>
            </svg>
            <svg class="servies__icon-inside">
              <use href="./img/home-defs.svg#icon-dream-home"></use>
            </svg>
          </div>
          <h2 class="services__title">Find Your Dream Home</h2>
        </a>
      </li>
      <li class="services__item">
        <a href="#" class="services__link">
          <svg class="services__icon-arrow">
            <use href="./img/home-defs.svg#icon-arrow"></use>
          </svg>
          <div class="services__icon-wrap">
            <svg class="services__icon-circle"
              id="icon-circle"
              width="82"
              height="82"
              viewBox="0 0 82 82"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="41"
                cy="41"
                r="40.5"
                stroke="url(#paint0_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="40.5"
                stroke="url(#paint1_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="30.5"
                stroke="url(#paint2_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="30.5"
                stroke="url(#paint3_linear_320_3)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_320_3"
                  x1="6.75"
                  y1="86.5"
                  x2="85.75"
                  y2="-5.5"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.323723"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint1_linear_320_3"
                  x1="81.75"
                  y1="-10.5"
                  x2="6.75"
                  y2="82"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.576615"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint2_linear_320_3"
                  x1="3.25"
                  y1="13.5"
                  x2="71.75"
                  y2="72"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.323723"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint3_linear_320_3"
                  x1="84.25"
                  y1="86"
                  x2="12.25"
                  y2="35"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.576615"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
              </defs>
            </svg>
            <svg class="servies__icon-inside">
              <use href="./img/home-defs.svg#icon-unlock-value"></use>
            </svg>
          </div>
          <h2 class="services__title">Unlock Property Value</h2>
        </a>
      </li>
      <li class="services__item">
        <a href="#" class="services__link">
          <svg class="services__icon-arrow">
            <use href="./img/home-defs.svg#icon-arrow"></use>
          </svg>
          <div class="services__icon-wrap">
            <svg class="services__icon-circle"
              id="icon-circle"
              width="82"
              height="82"
              viewBox="0 0 82 82"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="41"
                cy="41"
                r="40.5"
                stroke="url(#paint0_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="40.5"
                stroke="url(#paint1_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="30.5"
                stroke="url(#paint2_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="30.5"
                stroke="url(#paint3_linear_320_3)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_320_3"
                  x1="6.75"
                  y1="86.5"
                  x2="85.75"
                  y2="-5.5"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.323723"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint1_linear_320_3"
                  x1="81.75"
                  y1="-10.5"
                  x2="6.75"
                  y2="82"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.576615"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint2_linear_320_3"
                  x1="3.25"
                  y1="13.5"
                  x2="71.75"
                  y2="72"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.323723"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint3_linear_320_3"
                  x1="84.25"
                  y1="86"
                  x2="12.25"
                  y2="35"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.576615"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
              </defs>
            </svg>
            <svg class="servies__icon-inside">
              <use href="./img/home-defs.svg#icon-management"></use>
            </svg>
          </div>
          <h2 class="services__title">Effortless Property Management</h2>
        </a>
      </li>
      <li class="services__item">
        <a href="#" class="services__link">
          <svg class="services__icon-arrow">
            <use href="./img/home-defs.svg#icon-arrow"></use>
          </svg>
          <div class="services__icon-wrap">
            <svg class="services__icon-circle"
              id="icon-circle"
              width="82"
              height="82"
              viewBox="0 0 82 82"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <circle
                cx="41"
                cy="41"
                r="40.5"
                stroke="url(#paint0_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="40.5"
                stroke="url(#paint1_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="30.5"
                stroke="url(#paint2_linear_320_3)"
              />
              <circle
                cx="41"
                cy="41"
                r="30.5"
                stroke="url(#paint3_linear_320_3)"
              />
              <defs>
                <linearGradient
                  id="paint0_linear_320_3"
                  x1="6.75"
                  y1="86.5"
                  x2="85.75"
                  y2="-5.5"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.323723"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint1_linear_320_3"
                  x1="81.75"
                  y1="-10.5"
                  x2="6.75"
                  y2="82"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.576615"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint2_linear_320_3"
                  x1="3.25"
                  y1="13.5"
                  x2="71.75"
                  y2="72"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.323723"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
                <linearGradient
                  id="paint3_linear_320_3"
                  x1="84.25"
                  y1="86"
                  x2="12.25"
                  y2="35"
                  gradientUnits="userSpaceOnUse"
                >
                  <stop stop-color="#A685FA" />
                  <stop
                    offset="0.576615"
                    stop-color="#A685FA"
                    stop-opacity="0"
                  />
                </linearGradient>
              </defs>
            </svg>
            <svg class="servies__icon-inside">
              <use href="./img/home-defs.svg#icon-investments"></use>
            </svg>
          </div>
          <h2 class="services__title">Smart Investments, Informed Decisions</h2>
        </a>
      </li>
    </ul>
  </div>
</section>
